/* IE8 Hacks */

#content_end_page { margin-top: -3px; }

.search { padding: 0 0 0px 10px; }

.search_btn { margin-top: 10px; }

#search_container { display: inline-block; margin-bottom: 10px; }
.input { float: left; margin-top: 10px;  }

.login_content, .register_content, .about_content, .exams_content  .contact_content {
	filter:Alpha(opacity=0);
}